<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a id="your-tabs" href="#" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Your Tabs</h4></a></li>
  <li><a id="owed-tabs" href="#" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Owed Tabs</h4></a></li>
</ul>

<div id="tabs-table" class="table-responsive">
  <table class="table table-striped" data-sort-name="title" data-sort-order="desc">
    <thead>
      <tr>
        <th class="table-header" data-align="left" data-sortable="true">Date</th>
        <th class="table-header" data-align="left" data-sortable="true">Title</th>
        <th class="table-header" data-align="left" data-sortable="true">Notes</th>
        <th class="table-header" data-align="left" data-sortable="true">Total</th>
        <th class="table-header" data-align="left" data-sortable="true">Offenders</th>
        <th class="table-header" data-align="left" data-sortable="true">Status</th>
        <th class="table-header" data-align="left" data-sortable="true"></th>
      </tr>
    </thead>
    <tbody>
      <% tabs.each (function (tab) { %>
        <% var date = tab.escape('date') %>
        <% var newDate = date.slice(5) + "-" + date.slice(0,4) %>
        <% var str = "" %>
        <tr class="tab-row" id="tab-row-<%= tab.id %>">
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= newDate %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= tab.escape('title') %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= tab.escape('tag') %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>">$<%= parseFloat(tab.escape('total_amount')).toFixed(2) %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>">
            <% tab.owers().each( function (ower) { %>
              <% str += '<img class="email-popover search-pic" data-id="'+ ower.id + '" data-trigger="hover" data-toggle="popover" data-content="' + ower.escape('email') + '" data-placement="top" src="https://secure.gravatar.com/avatar/' + md5(ower.escape('email')) + '"> ' %>
            <% }); %>
            <%= str %>
          </td>
          <td>
            <% var paid = true; %>
            <% tab.userTabs().each( function (userTab) { %>
              <% if (userTab.get('paid')) { %>
                <% return; %>
              <% } else { %>
                <% paid = false; %>
              <% } %>
            <% }); %>
            <%= paid ? '<span class="glyphicon glyphicon-ok"></span>' : '<span class="glyphicon glyphicon-remove"></span>' %>
          </td>
          <td><button data-id="<%= tab.id %>" id="details" class="btn btn-sm btn-primary">Details</button></span></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
