<% var thumb = "down" %>
<% if (paid) { %>
  <% thumb = "up" %>
<% } %>
<a href="#/tabs/new">Create New Tab</a>

<h1 class="page-header">Your Tabs</h1>

<h2 class="sub-header">Latest Activity</h2>
<div id="tabsTable" class="table-responsive">
  <table class="table table-striped" data-sort-name="title" data-sort-order="desc">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="table-header" data-align="left" data-sortable="true">Date</th>
        <th class="table-header" data-align="left" data-sortable="true">Title</th>
        <th class="table-header" data-align="left" data-sortable="true">Total</th>
        <th class="table-header" data-align="left" data-sortable="true">Notes</th>
        <th class="table-header" data-align="left" data-sortable="true">Status</th>
      </tr>
    </thead>

    <tbody>
      <% tabs.each (function (tab) { %>
        <tr id="tab-row-<%= tab.id %>">
          <td><span class="glyphicon glyphicon-chevron-right" data-id="<%= tab.id %>"></span></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= tab.escape('date') %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= tab.escape('title') %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>">$<%= parseFloat(tab.escape('total_amount')).toFixed(2) %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= tab.escape('tag') %></td>
          <td><span class="glyphicon glyphicon-thumbs-<%= thumb %>"></span></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<div class="search"></div>
