<% var str = tab.escape('title') %>
<div class="tab-heading" data-tab-id="<%= tab.id %>">
  <h1 class="page-header"><%= str.charAt(0).toUpperCase() + str.slice(1) %> Details <span class="glyphicon glyphicon-pencil"></span></h1>
</div>

<h2 class="sub-header">Details</h2>

<a href="#/tabs/<%= tab.id %>/edit">Edit Tab</a>
<br>
<br>
<button id="delete-tab">Delete Tab</button>

<div id="tabsTable" class="table-responsive">
  <table class="table table-striped" data-sort-name="title" data-sort-order="desc">
    <thead>
      <tr>
        <th class="table-header" data-align="left" data-sortable="true">Date</th>
        <th class="table-header" data-align="left" data-sortable="true">Title</th>
        <th class="table-header" data-align="left" data-sortable="true">Total</th>
        <th class="table-header" data-align="left" data-sortable="true">Notes</th>
        <th class="table-header" data-align="left" data-sortable="true">Status</th>
        <th class="table-header" data-align="left" data-sortable="true">Edit</th>
        <th class="table-header" data-align="left" data-sortable="true">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% tabs.each (function (tab) { %>
        <tr id="tab-row-<%= tab.id %>">
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= tab.escape('date') %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= tab.escape('title') %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>">$<%= parseFloat(tab.escape('total_amount')).toFixed(2) %></td>
          <td class="tab-row-item" data-row-id="<%= tab.id %>"><%= tab.escape('tag') %></td>
          <td><span class="glyphicon glyphicon-thumbs-<%= thumb %>"></span></td>
          <td><span class="glyphicon glyphicon-pencil"></span></td>
          <td><span class="glyphicon glyphicon-trash"></span></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<ul>
  <% tab.userTabs().each(function (userTab) { %>
    <li>User id: <%= userTab.escape('user_id') %></li>
    <li>Tab id: <%= userTab.escape('tab_id') %></li>
    <li>Amount owed: <%= userTab.escape('amount_owed') %></li>
    <li>Paid: <%= userTab.escape('paid') %></li>
  <% }); %>
</ul>
