<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>TabSplitter</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script src='https://platform.venmo.com/sdk.js'></script>
  </head>
  <body>
    <% if logged_in? %>
      <% gravatar_id = Digest::MD5::hexdigest(current_user.email.downcase) %>
      <% gravatar_url = "https://secure.gravatar.com/avatar/#{gravatar_id}" %>
      <script>window.CURRENT_USER = {
        "id": <%= current_user.id %>,
        "email": "<%= current_user.email %>",
        "account_balance": <%= current_user.account_balance %>,
        "gravatar_url": "<%= gravatar_url %>"
      }
      </script>

    <% end %>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">splitsies</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <% if logged_in? %>
              <li><a href="#"><span class="glyphicon glyphicon-usd"></span></a></li>
              <li><a href="#/account"><img style="height:22px; border-radius:15px;" src="<%= gravatar_url %>"> <%= current_user.email %></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-credit-card"></span> Tabs</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
              <li><a href="http://www.fiddler.io/">Help</a></li>
              <li><%= link_to "Log Out", session_url, method: :delete %></li>
            <% else %>
              <li><a href="">Home</a></li>
              <li><a href="/help">About</a></li>
              <li><a href="/session/new">Sign In</a></li>
              <li><a href="/users/new">Sign Up</a></li>
            <% end %>
          </ul>
          <form class="navbar-form navbar-right">
            <!-- <input id="nav-search" type="text" class="form-control" placeholder="Search for friends..."> -->
          </form>
        </div>
      </div>
    </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <%= yield %>

  </body>
</html>
