<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>TabSplitter</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script src='https://platform.venmo.com/sdk.js'></script>
  </head>
  <body>
    <% if logged_in? %>
      <script>window.CURRENT_USER = {
        "id": <%= current_user.id %>,
        "email": "<%= current_user.email %>",
        "account_balance": <%= current_user.account_balance %>
      }</script>
      <%= button_to "Log Out", session_url, method: :delete %>
      <!-- <a class="venmo-pay-button" data-recipient-id="1366807004839936586" data-amount=".5"></a> -->

      <!-- <%= button_to "Log Out", session_url, method: :delete %><%= link_to "All Tabs", "" %> -->
    <% end %>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">splitsies</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <% if logged_in? %>
              <li><a href="#/account"><%= current_user.email %></a></li>
              <li><a href="#">Tabs</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="http://www.fiddler.io/">Help</a></li>
              <li><a href="#"><%= button_to "Log Out", session_url, method: :delete %></a></li>
            <% else %>
              <li><a href="">Home</a></li>
              <li><a href="/help">About</a></li>
              <li><a href="/session/new">Sign In</a></li>
              <li><a href="/users/new">Sign Up</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <%= yield %>

  </body>
</html>
