<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"> <!-- add favicon -->

    <title>splitsies</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <script src='https://platform.venmo.com/sdk.js'></script>
    <script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          testAPI();
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
      FB.init({
        appId      : '1554613958157210',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.1' // use version 2.1
      });

      // Now that we've initialized the JavaScript SDK, we call
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1554613958157210&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          // document.getElementById('status').innerHTML =
          //   'Thanks for logging in, ' + response.name + '!';
        });
      }
    </script>

    <!--
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    -->

    <div id="status">
    </div>
    <% if logged_in? %>
      <% gravatar_id = Digest::MD5::hexdigest(current_user.email.downcase) %>
      <% gravatar_url = "https://secure.gravatar.com/avatar/#{gravatar_id}" %>
      <script>window.CURRENT_USER = {
        "id": <%= current_user.id %>,
        "email": "<%= current_user.email %>",
        "account_balance": <%= current_user.account_balance %>,
        "gravatar_url": "<%= gravatar_url %>",
        "name": "<%= current_user.name %>",
        "image_url": "<%= current_user.image_url %>"
      }
      </script>
      <% url = (current_user.image_url ? current_user.image_url : gravatar_url) %>
      <% display_name = (current_user.name ? current_user.name : current_user.email) %>
    <% end %>

    <div class="navbar navbar-default navbar-fixed-top">
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top"> -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">splitsies</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <% if logged_in? %>
              <li><a href="#"><span class="glyphicon glyphicon-usd"></span></a></li>
              <li><a href="#/account"><img style="height:22px; border-radius:15px;" src="<%= url %>"> <%= display_name %></a></li>
              <li><a href="#/history"><span class="glyphicon glyphicon-credit-card"></span> Tabs</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
              <li><a href="#">Help</a></li>
              <li><%= link_to "Log Out", session_url, method: :delete %></li>
            <% else %>
              <li><a href="">Home</a></li>
              <li><a href="/help">About</a></li>
              <li><a href="/session/new">Sign In</a></li>
              <li><a href="/users/new">Sign Up</a></li>
            <% end %>
          </ul>
          <form class="navbar-form navbar-right">
            <!-- <input id="nav-search" type="text" class="form-control" placeholder="Search for friends..."> -->
          </form>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <%= yield %>

  </body>
</html>
